<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hogwarts Express</title>
    <link rel="stylesheet" href='/styles/index.css' />
    <script src="/scripts/index.js"></script>
</head>
<body>
    <div class="container" id="comment-form">
        <h2>發表一篇圖文</h2>
        <label for="text-input">文字內容</label>
        <input id="text-input" name="text" type="text"/><br>
        <label>圖片檔案</label>
        <input id="file-input" name="imgUrl" type="file" accept="image/*"/><br>
        <button id="comment-button">送出</button>
    </div>
</body>
</html>